@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
	<div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
		<div class="container">
			<h2 class="title">Kiralama Koşulları</h2>
			<ul class="breadcrumbs-custom-path mt-2">
				<li><a href="#url">Ana Sayfa</a></li>
				<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Kiralama KOşulları </li>
			</ul>
		</div>
	</div>
</section>
<section class="blog-post-main w3l-homeblock1">
	<!--/blog-post-->
	<div class="blog-content-inf pb-5">
		<div class="container pb-lg-4">
			<div class="single-post-image">
				<div class="post-content">
					<img src="assets/images/banner2.jpg" class="radius-image img-fluid mb-5" alt="" />
				</div>
			</div>
			<div class="single-post-content">
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİRALAMA SÜRESİ</u>
				</h6>
				<p class="mb-1">
					Günlük kiralamalarda en kısa kiralama süresi 24 saattir, aylık kiralamalarda ise 30 gündür.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>UZUN SÜRELİ KİRALAMALAR</u>
				</h6>
				<p class="mb-1">
					Aylık kiralamalarda özel fiyat uygulanır. Kiralama fiyatı ve koşullarına ilişkin bilgi için 0850 305 07 07 no'lu 7/24 çağrı merkezini veya size en yakın DemirCar ofisini arayabilirsiniz.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>REZERVASYONUNUZUN ALINMASI</u>
				</h6>
				<p class="mb-1">
					Rezervasyon talebinizi telefon, e-posta veya whatsapp yolu ile iletmeniz halinde, rezervasyon merkezimiz tarafından talep ettiğiniz bilgilere göre araç durumumuz kontrol edilir ve size olumlu yada olumsuz yanıt verilir.
					Web sayfamızdan yaptığınız rezervasyonlarınızda sistem tarafından otomatik olarak rezervasyon talebinizin bize ulaştığına dair "rezervasyon talep bilgisi" e-posta ile belirttiğiniz mail adresine gönderilir. Bu e-posta rezervasyonunuzun kabul edildiği anlamına gelmez.Teslimde Öde veya Hemen Öde seçeneğine bağlı olarak talep ettiğiniz bilgilere göre araç durumumuz, ödeme bilgileriniz,kiralama şartlarına uyup uymadığınız gibi bilgileriniz kontrol edilerek öncelikle SMS olmak üzere telefon veya Mail yolu ile size olumlu yada olumsuz yanıt verilir.
					Rezervasyonunuz araç müsaitliğinin olmaması, kiralama koşullarını taşımamanız, ödemenizin hesaplarımıza geçmemesi gibi sebepler ile konfirme edilmemesi halinde mesai saatleri içerisinde tarafınıza telefon veya e-posta yolu ile bilgi verilerek rezervasyon talebinizin karşılanamayacağı bildirilir.
					Ödeme yaptı iseniz yaptığınız bedelin tamamı herhangi bir kesintiye uğramadan ödeme yaptığınız kredi kartına iade edilir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>REZERVASYONUNUZUN ONAYLANMASI</u>
				</h6>
				<p class="mb-1">
					Rezervasyonunuz onaylandığında size telefon, e-posta veya SMS ile bilgi verilir. Bundan dolayı,  telefon, e-posta, whatsapp veya web yoluyla yapmış olduğunuz rezervasyonlarınızda lütfen vermiş olduğunuz iletişim bilgilerinin doğru ve eksiksiz olduğundan emin olunuz.SMS için yurtiçi aktif olarak kullanılan açık bir numara vermiş olmanız gerekir.Sistem tarafından yurtdışı hatlarına SMS gönderilememektedir.
					Rezervasyon oluştururken belirttiğiniz telefon numarasına veya mail adresinize teknik sebepler ile rezervasyonunuzun onaylandığına dair mesaj-mail gelmemesi halinde, çağrı merkezimiz ile irtibata geçerek (mail-whatsapp-telefon) rezervasyonunuzun durumu ile ilgili bilgi almanızı rica ederiz.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>YABANCI EHLİYETLE KİRALAMA</u>
				</h6>
				<p class="mb-1">
					Kiralama yapacak olan Türk vatandaşları dış ülkelerden aldıkları sürücü belgeleri ile ülkemizde araç kullanmalarının yalnızca aşağıdaki şart ve koşullarda mümkün olduğunu bilir ve kabul eder:

					Dış ülkelerden alınan sürücü belgeleri ile ülkemize giriş yapıldığı tarihten itibaren en fazla 1 yıl süreyle araç kullanılabilir.
					Altı aydan fazla ülkemizde bulunanların, araç kullanırken dış temsilcilikler veya noter tarafından onaylanmış sürücü belgelerinin Türkçe tercümelerini sürücü belgesi ile birlikte yanlarında bulundurmaları zorunludur.
					Bir yılın sonunda ülkemizde araç kullanılabilmesi için dış ülkelerden alınan sürücü belgelerinin ülkemiz sürücü belgesi ile değiştirilmesi zorunludur.
					b) Kiralama yapacak olan Yabancı ülke vatandaşları ise dış ülkelerden aldıkları sürücü belgeleri ile ülkemizde araç kullanmalarının aşağıdaki şart ve koşullarda mümkün olduğunu bilir ve kabul eder:

					Dış ülkelerden alınan sürücü belgeleri ile ülkemize giriş yapıldığı tarihten itibaren en fazla 6 ay süreyle araç kullanılabilir.
					Altı ayın sonunda ülkemizde araç kullanılabilmesi için dış ülkelerden alınan sürücü belgelerinin ülkemiz sürücü belgesi ile değiştirilmesi zorunludur.
					Dış ülkelerden almış oldukları sürücü belgeleri ile bu maddede belirtilen şartları sağlamadan araç kullananlar hakkında 2918 sayılı Kanunun 39 uncu maddesine istinaden işlem yapılır.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİLOMETRE SINIRI</u>
				</h6>
				<p class="mb-1">
					Günlük araç kiralama hizmetinde günlük kilometre sınırı kiralama süresine bağlı olarak değişmektedir. Detaylar aşağıda bulunan tabloda olduğu gibidir. Ancak hiç bir şekilde kiralama periyodu boyunca 4000 KM'yi aşamaz. Km aşım bedeli araç grupları bazında değişkenlik göstermekte olup; alt ve orta araç gruplarımızda aşım yapılan her kilometre için 1.5 TL , orta ve üst grupta yer alan araçlarımız aşım yapılan her kilometre için 2 TL baz alınarak ücretlendirilecektir. Detaylı bilgiyi çağrı merkezimizden veya ofislerimizden öğrenebilirsiniz.
					Aylık kiralamalarda kilometre kullanım hakkı araç grubuna bağlı olarak değişmektedir. Km aşım ücreti araç grupları bazında değişkenlik göstermekte olup detaylı bilgiyi çağrı merkezimizden veya ofislerimizden alabilirsiniz.
				</p>
				<br />
				<table style="width: 100%; border-collapse: collapse;">
					<thead>
						<tr>
							<th style="border: 1px solid #000; background-color: #f2f2f2;">KİRA GÜN SAYISI</th>
							<th style="border: 1px solid #000; background-color: #f2f2f2;">KM KULLANIM HAKKI</th>
							<th style="border: 1px solid #000; background-color: #f2f2f2;">TOPLAM KULLANIM HAKKI</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="border: 1px solid #000;">1-7 Gün Arası</td>
							<td style="border: 1px solid #000;">400 KM</td>
							<td style="border: 1px solid #000;">GÜN SAYISI X 400 KM</td>
						</tr>
						<tr>
							<td style="border: 1px solid #000;">8-29 Gün Arası</td>
							<td style="border: 1px solid #000;">MAX 4000 KM</td>
							<td style="border: 1px solid #000;">MAX 4000 KM</td>
						</tr>
					</tbody>
				</table>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>TESLİM ETME / TESLİM ALMA</u>
				</h6>
				<p class="mb-1">
					Ofislerimizde mesai saatleri içerisinde (08:00-19:00) ofisten araç teslimi ve araç alınması ücretsizdir.Mesai saatleri dışında gerçekleşecek araç teslimatları ve araç bırakmaları en az 24 saat önceden haber verilmek koşulu ile ek ücrete tabidir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>ADRESE ARAÇ TESLİM ETME / TESLİM ALMA</u>
				</h6>
				<p class="mb-1">
					İstenilen adrese araç teslimi veya istenilen adresten araç teslim alma hizmeti ek ücrete tabidir. Ek ücret mesafeye göre değişiklik gösterdiğinden 0850 305 07 07​ no'lu 7/24 çağrı merkezinden veya size en yakın AYTUCAR ofisinden bilgi alabilirsiniz.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>FİYATLARA DÂHİL OLAN VE OLMAYAN HUSUSLAR</u>
				</h6>
				<p class="mb-1">
					Kiralama bedeline dahil olan ve olmayan hizmet ve güvenceler aşağıda belirtilmiştir.Fiyatlarınıza dahil olmayan güvenceleri kiralama başlangıcında satış ofislerimizden satın alabilirsiniz. Geçerli limitlerle ilgili detaylı bilgiyi de satış ofislerimizden alabilirsiniz.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİRALAMA SÖZLEŞMESİNE DAHİL OLAN GÜVENCELER</u>
				</h6>
				<p class="mb-1">
					Ferdi Kaza Sigortası (PI) Karayolları Zorunlu Trafik Sigortası limitleri kapsamında dahildir.
					Hasar Sorumluluk Güvencesi(CDW) ve %18 Katma Değer Vergisi dahildir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>HASAR BEDELİNİN TESPİTİ</u>
				</h6>
				<p class="mb-1">
					Araçta oluşan hasar bedeli Yetkili Servisten veya Aytucar Servis Bölümünden alınacak proforma fatura bedeline göre tespit edilir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİRALAMA SÖZLEŞMESİNE DAHİL OLMAYAN GÜVENCELER</u>
				</h6>
				<p class="mb-1">
					Kira bedeline Yakıt, Köprü, Otoyol Ücretleri, Trafik Cezaları,Otopark Ücretleri ile ekstra sigortalar,Ek Sürücü, Tek Yön Ücreti, Araç Teslim Etme ve Teslim Alma ücretleri, Bebek/Çocuk Koltuğu, Navigasyon Cihazı, Ek Km Paketi gibi ekstra talepler dahil değildir.
					Araçlar teslim edildiği yakıt miktarı ile iade alınır. Eksik yakıt ile iade edilen araçlarda, eksik yakıt farkı, hizmet ücreti ile birlikte alınır. Alındığı yakıt seviyesinden daha fazla yakıt ile iade edilen araçlarda yakıt bedeli iadesi yapılamamaktadır.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>EK HİZMETLER</u>
				</h6>
				<p class="mb-1">
					İhtiyaçlarınıza bağlı olarak aşağıda günlük fiyatları belirtilen hizmetleri rezervasyon oluştururken veya aracınızı teslim alırken talep edebilirsiniz.(Ek KM paketi toplam kullanım hakkına ilave edilir.Kiralama gün sayısından bağımsızdır.)
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>ÖDEME VE DEPOZİT</u>
				</h6>
				<p class="mb-1">
					Kiralama yapan müşterilerimizden kiralama esnasında kendi adlarına düzenlenmiş bir kredi kartına sahip olmaları istenmektedir. Depozit için MasterCard veya Visa kart kabul edilmekte olup Debit card/banka kartı veya ön ödemeli kartlar kabul edilmemektedir.
					www.DemirCar.com web sayfası üzerinden yapılan rezervasyonlarda ödeme yapılan Kredi Kartı/Debit Kartı'nın araç teslim alma esnasında ibra edilmesi zorunludur.
					Euro(€) üzerinden yapılan kiralama rezervasyonlarında kiralama ve ek hizmet bedelleri TL(₺) olarak ödenmek istendiği takdirde kiralama başlangıç günündeki T.C Merkez Bankası döviz kurları esas alınarak TL(₺)'ye çevrilerek ödeme alınır.
					Sanal Kart ile yapılan ödemeli rezervasyonlarda işlem yapılan sanal kartın bağlı olduğu kredi kartının ibraz edilmesi gerekmektedir.
					Web sayfamızdan yaptığınız ödemeli rezervasyonlarda aracı teslim alma esnasında ödeme yapılan kartın ibraz edilmesi gerekmektedir.
					Kira bedeli ödeme şekli ilgili kanunlar gereğince sadece şahsi kredi kartı  ve debit kart ile yapılmaktadır.
					Kiralama türü ve araç grubuna göre değişen depozito tutarının şahsa ait kredi kartından sağlanıyor olması gerekmektedir. Kredi kartının üzerinde kiralama yapacak kişiye ait isim ve soyisim bilgisi bulunmalıdır.
					Bankalar tarafından dikte edilen anlaşmalar gereğince depozit miktarlarının bloke şeklinde yapılması bloke edilen miktarın 30 gün ve üzerinde blokede kalmasına ve kart sahibinin bu miktarı kullanamamasına sebebiyet vermektedir. Kart sahiplerinin bu mağduriyetini engellemek ve iade sürecini hızlandırmak maksadıyla güvence bedelleri satış (harcama) şeklinde yapılmaktadır.
					Kira bedeline ek olarak kredi kartınızdan güvence bedeli maksadıyla satış şeklinde çekilecek depozito miktarı için yeterli limit uygunluğunun olması gerekmektedir. Satış olarak çekilen depozitlerin iadesi araç dönüş tarihinden itibaren 14 iş günü sonunda aynı kredi kartına yapılır.
					Kredi kartınızın mail order'a kapalı olması halinde fiziki pos cihazından provizyon alma işlemi gerçekleştirilir.Fiziki Pos cihazından alınan provizyonlar ilgili bankanın işlem hızına bağlı olarak ortalama 30 ile 45 gün sonunda otomatik olarak kaldırılmaktadır. Herhangi bir çekim yapılmadığı takdirde firmamızın blokenin daha önce kaldırılması konusunda herhangi bir müdahalesi bulunmamaktadır.
					Aracı teslim alacak kişinin ehliyetinin,T.C Kimlik Kartının (yabancı ehliyetli misafirlerimiz için pasaport) aslını ve kendine ait kredi kartını AYTUCAR ofisine ibraz etmesi gerekmektedir.Kredi kartının internet kullanımına açık olması gerekmektedir.
					Aytucar gerekli gördüğü durumlarda 2.Kredi kartı isteme ve depozit miktarını artırma hakkını saklı tutar.Kredi kartından provizyon alınamaması durumunda veya gerekli görüldüğü durumlarda Kredi Notu (Findex) sorgulamasının olumsuz olması halinde araç verip vermemek DemirCar’ın tasarrufundadır.Kredi Sorgulama ihtiyacı duyulan hallerde geçerli Findeks notu ekonomik grup araçların için 1400 ve üzeri olmalıdır. Findeks notu belirlenen standartın altında olması durumunda DemirCar rezervasyonu iptal etme hakkına sahiptir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİRALAMA SÜRESİNİN UZATILMASI</u>
				</h6>
				<p class="mb-1">
					Kiralama sözleşmesinde yazan tarih ve saatte dönmeyen sürücüler kira süresini uzatmak istediklerinde en az 24 saat öncesinden çağrı merkezi veya ofislerimizi arayarak uzatma talebinde bulunmalıdır.AYTUCAR'ın bilgisi ve onayı dışında kira süresini uzatmak mümkün değildir. Araç müsaitliği bulunduğu takdirde kiralama süresi uzatma talebiniz karşılanacaktır. Kiracı araç müsaitliğinin olmadığı veya uzatma talebinin onaylanmadığı durumlarda aracı iade etmek zorunda olduğunu kabul ve beyan eder.
					Kiracı uzatma talebi kabul edilmediği veya  aracı sözleşme bitim tarihinde iade etmediği takdirde, kiralayanda bulunan aracın rezervasyonu var ise ve AYTUCAR mevcut rezervasyon müşterisine üst grup araç vermek zorunda kaldığı veya diğer firmalardan temin etmek zorunda kaldığı takdirde; diğer kiracıya verilen aracın kiralama gün sayısının tamamını kapsayacak şekilde kiralama ücret farkı hesaplanarak uzatma talebi kabul edilmeyen ve zamanında dönmeyen kiralayana fatura edilir.
					Kira uzatma günlerine ait kira bedelinin hesaplanmasında talep edilen tarihte geçerli olan güncel günlük kiralama bedeli ve varsa ekstra hizmetler, ilave sigorta bedelleri eklenerek bulunan kira bedeli kiracının kredi kartından tahsil edilir. Kredi kartında yeterli bakiye olmaması halinde kiracıdan kredi kartına yükleme yapması istenir.Araç müsaitliği olduğu takdirde, kira süresi uzatma talebinizin onaylanması için ek gün bedelinin tahsil edilmesi zorunludur. Ek gün bedeli tahsil edilmeden talebiniz onaylanmaz.
					Kira uzatmaları sonrası kira sözleşmesi imzalanmamış olsa dahi iş bu sözleşme koşulları ile bağlı kalacaktır. Kiracı, sözleşme süresinin sona ermesine rağmen aracı teslim etmemesinin ceza hukuku hükümlerince suç teşkil ettiğini, aracı kira süresi dışında alıkoymayacağını kabul eder. Kira süresinin sona ermesi sonrasında ve/veya yasalara aykırı araç kullanımı sırasında veya bir hasar halinde ek koruma paketi de dahil olmak üzere sigorta, teminatlar ve yasal haklardan yararlanamayacağını bildiğini kabul ve beyan eder.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>TESLİM GECİKMELERİ</u>
				</h6>
				<p class="mb-1">
					Kiralanan araçların iadesinde  opsiyon bulunmamaktadır. Teslim geçikmelerinde ek hizmetler ve isteğe bağlı sigortalarda dahil olmak üzere 1 günlük kira bedeli alınır.
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
						<u>TRAFİK CEZALARI</u>
				</h6>
				<p class="mb-1">
					Trafik yasalarına uyulmamasından doğacak her türlü sorumluluk ve maddi ceza müşterimize aittir. Araçların hangi nedenle olursa olsun resmi veya resmi olmayan makamlar tarafından tutulması nedeni ile geçecek zaman, sözleşme süresi içerisinde kabul edilir.
					Kiralama esnasında oluşan trafik ihlallerine ait (HGS/OGS geçiş ücretleri, kaçak geçiş cezaları, trafik cezaları vb.) tutarlar ilgili devlet kurumları tarafından AYTUCAR’a yansıtılmaktadır. Kiralama sırasında gerçekleşen ve müşterimize ait olan ilgili trafik cezası tahsilatı, kiralama sırasında ibraz edilen kredi kartından yapılacaktır.
					Müşterinin Kredi Kartı veya Depozitinden yapılan Trafik Cezası Tahsilatlarında Erken Ödeme İndirimi yapılmaz.İşleyecek yasal faizler ayrıca tahsil edilir.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>KİRALAMA ESNASINDA YAPILACAK SORGULAMALAR</u>
				</h6>
				<p class="mb-1">
					KABİS: Son yıllarda yaşanan terör olayları vb durumlar için Emniyet Genel Müdürlüğünce hazırlanan proje kapsamında her araç kiralayan yolcuların tüm kimlik bilgileri Emniyet ile anlık paylaşılarak GBT sorgulaması yapılmaktadır.
					Adres ve TC No Sorgulama: İç İşleri bakanlığı aracılığı ile yapılması zorunlu kılınan adres ve TC Kimlik No sorgulaması yapılarak kişi ikametgah beyanı onaylama ekranıdır. Bu sorgulama kiralama yapacak kişiden E-Devlet şifresi ile ekranda adres beyanı gösterme zorunluluğu kılmaktadır.
					Findeks Sorgulama: T.C. Kimlik numaranız üzerinden yapılan Findeks sorgusu ile hangi sınıflarda araç kiralayabileceğinizi belirlemek amaçlı yapılan sorgulamadır.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>ARAÇ TESLİM ALMA BİLGİLERİ</u>
				</h6>
				<p class="mb-1">
					Aracınızı teslim almadan önce gerekli tüm dokümanların hazır olmasına lütfen dikkat ediniz :
					Sürücü Belgesi aslı (Önlü arkalı fotokopisi).
					Sürücü adına geçerli bir kredi kartı
					Voucher ile kiralama yapan yolcular için de kredi kartından belirli bir miktar provizyon alınması zorunludur.
					Rezervasyon onay belgesi
					T.C Nüfus Cüzdanı/Kimlik Belgesi veya Pasaport(Pasaport sadece yabancı uyruklular ve yabancı ülke ehliyeti ile kiralama yapanlar için zorunludur.)
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>YAKIT POLİTİKASI</u>
				</h6>
				<p class="mb-1">
					Araçlar teslim edildiği yakıt miktarı ile iade alınır. Eksik yakıt ile iade edilen araçlarda, eksik yakıt bedeline ilave olarak DemirCar'ın belirlediği kiralama sözleşmesinden yazan bedel kadar hizmet ücreti alınır. Alındığı yakıt seviyesinden daha fazla yakıt ile iade edilen araçlarda yakıt bedeli iadesi yapılamamaktadır.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>YAKIT POLİTİKASI</u>
				</h6>
				<p class="mb-1">
					Araçlar teslim edildiği yakıt miktarı ile iade alınır. Eksik yakıt ile iade edilen araçlarda, eksik yakıt bedeline ilave olarak DemirCar'ın belirlediği kiralama sözleşmesinden yazan bedel kadar hizmet ücreti alınır. Alındığı yakıt seviyesinden daha fazla yakıt ile iade edilen araçlarda yakıt bedeli iadesi yapılamamaktadır.
				</p>
				<br />
				<h6 class="blog-desc-big m-0 mb-4">
					<u>VERİ GÜVENLİĞİ</u>
				</h6>
				<p class="mb-1">
					DemirCar'a bu kiralamanız için vermiş olduğunuz herhangi bir bilgiyi, rezervasyon almak, sizi müşteri listemize ekleyip eklemeyeceğimize karar vermek, ödeme almak için ve kiralama sözleşmesinde belirtilen koşullara uygun olarak, araç sizin kullanımınızdayken ve döndükten sonra ortaya çıkabilecek takip gerektiren konuların araştırılması amacıyla kullanabileceğimizi kabul edersiniz.
					Bize vermiş olduğunuz bilgileri pazar araştırma çalışmasında da kullanabiliriz.
					Eğer kiralama sözleşmesi koşullarına aykırı davranırsanız, gelecekte sizinle ilgili karar vermede kullanmak üzere bunu kayıtlarımıza alabiliriz. Bu bilgiyi, kredi değerlendirme kuruluşları, Emniyet ve Trafik polisi, borçlu olduğunuz kurumlar ve sizinle ilgili bilgiye göre onların müşterisi olup olamayacağınıza karar verecek diğer kuruluşlarla ve (TOKKDER) Tüm Oto Kiralama Kuruluşları Derneği ile paylaşabiliriz. Size araç verip vermeme konusunda diğer kuruluşlardan sizin araç kiralama geçmişinizle ilgili bilgi toplayabileceğimizi kabul edersiniz. Bu kiralama sözleşmesinde adı geçen sizin ve ek sürücülerin bilgileri, kamu kuruluşları ve mahkemeler tarafından talep edildiğinde vereceğimizi kabul edersiniz.
					Bu maddede geçen “biz” veya “bize” ofislerimizden herhangi biri, acentelerimizden herhangi biri olabilir.
				<br />
			</div>
		</div>
</section>